@model Sentinela.Models.Local

@{
    ViewBag.Title = "Create";
}

<h2>Novo Local</h2><br/>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Local</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cidade.Estado.EstadoId, "Estado")
        </div>
        
        <div class="editor-field">
            @Html.DropDownList("EstadoId", "[Selecione]")
            @Html.ValidationMessageFor(model => model.Cidade.Estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CidadeId, "Cidade")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.CidadeId,new List<SelectListItem>())
            @Html.ValidationMessageFor(model => model.CidadeId)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Tamanho)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tamanho, new { @class="decimal" })
            @Html.ValidationMessageFor(model => model.Tamanho)m²
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Logradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro)
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Numero, new { @class = "integer" })
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Capacidade)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Capacidade, new { @class = "integer" })
            @Html.ValidationMessageFor(model => model.Capacidade)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}



<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $('input[name=Tamanho]').val($('input[name=Tamanho]').val().replace(',', '.'));

        $('input[name=Tamanho]').keyup(function () {
            $(this).val($(this).val().replace(',', '.'));
        });

        $('#EstadoId').change(function () {
            $.get('/Cidade/GetCidades', { estadoId: $(this).val() }, function (data) {
                $("#CidadeId").html('');
                $("#CidadeId").append($("<option></option>").val(null).html('[Selecione]'))
                for (var i in data) {
                    $("#CidadeId").append($("<option></option>").val(data[i].id).html(data[i].text))
                }
            }, 'json');
        });

    });
</script>

}
