@model Sentinela.Models.Imagem

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este registro?</h3><br/><br/>
<fieldset>
    <legend>Imagem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Local.Logradouro):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Local.Logradouro)
    </div><br/>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cardapio.Nome):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cardapio.Nome)
    </div><br/>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div><br/>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.principal):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.principal)
    </div><br/>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
