@model Sentinela.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este registro?</h3><br/><br/>
<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Senha):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Senha)
    </div><br/>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Login):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div><br/>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ativo):
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativo)
    </div><br/>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
