@model Sentinela.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cidade.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cidade.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Logradouro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logradouro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cpf)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cpf)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>
</fieldset>

<fieldset>
    <legend>Eventos Cadastrados</legend>
    <h2>Eventos Cadastrados</h2>
    @foreach (var item in Model.Evento.OrderBy(o => o.DataCadastro))
    {
        <a style="display: inline-block; border: 1px solid black; color:black; text-decoration: none" href="/Evento/Details/@item.EventoId">
            <div class="display-label">
                Código
            </div>
            <div class="display-field">
                <p>@item.EventoId</p>
            </div>
            <div class="display-label">
                Data Cadastro
            </div>
            <div class="display-field">
                @item.DataCadastro.ToShortDateString()
            </div>

        </a>
    }

</fieldset>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteId }) |
        @Html.ActionLink("Voltar", "Index")
    </p>
