@model Sentinela.Models.Item

@{
    ViewBag.Title = "Excluir Item";
}

<h2>Excluir Item</h2>

@if (Model.CardapioRefeicaoItem.Any())
{
    <h4>Não é possível excluir este item, pois está vinculado com uma ou mais refeições</h4>
    @Html.ActionLink("Voltar", "Index")
}
else
{
    
    <h3>Tem certeza que deseja excluir este registro?</h3><br/><br/>
    <fieldset>
        <legend>Item</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Nome):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nome)
        </div><br/>
    </fieldset>
    using (Html.BeginForm()) {
        
        <p>
            @Html.AntiForgeryToken()
            <input type="submit" value="Excluir" /> |
            @Html.ActionLink("Voltar", "Index")
        </p>
    }
    
}
