@model Sentinela.Models.Cidade

@{
    ViewBag.Title = "Editar Cidade";
}

<h2>Editar Cidade</h2><br/>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cidade</legend>

        @Html.HiddenFor(model => model.CidadeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoId, "Estado")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EstadoId", String.Empty)
            @Html.ValidationMessageFor(model => model.EstadoId)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
