@model Sentinela.Models.Cardapio

@{
    ViewBag.Title = "Editar Cardápio";
}
<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<h2>Editar Cardápio</h2><br/>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="display: inline-block; width: 100%;">

    <fieldset class="col-lg-6">
        <legend>Cardapio</legend>

        @Html.HiddenFor(model => model.CardapioId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descricao, new { cols = 0, rows = 5, style = "width: 300px;" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>
    </fieldset>
    
    <fieldset class="col-lg-6">
            <legend>Refeições</legend>
            <ul>
                
                @foreach (var refeicao in ViewBag.Refeicoes)
                {
                    <li>
                        <label>@refeicao.Nome</label>
                        <select multiple data-id="@refeicao.RefeicaoId" id="@refeicao.RefeicaoId" data-text="@refeicao.Nome" name="Refeicao-@refeicao.RefeicaoId" class="select">
                            @foreach (var item in ViewBag.Itens)
                            {
                                <option value="@item.ItemId" @String.Format("{0}", Model.CardapioRefeicaoItem.Where(r => r.RefeicaoId == refeicao.RefeicaoId).Any(i => i.ItemId == item.ItemId) ? "selected" : "")>@item.Nome</option>
                            }
                        </select>
                    </li>
                }
            </ul>
            

        </fieldset>
    </div>
    <p>
        <input type="submit" value="Salvar" />    <span>@Html.ActionLink("Voltar", "Index")</span>
    </p>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Select2/select2.min.js"></script>
<script src="~/Content/Select2/select2_locale_pt-BR.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").css('width', '100%').select2();
        });

    </script>

}
