@model Sentinela.Models.Orcamento
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Sentinela Eventos</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap theme -->

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />

    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Scripts/jqueryui/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />


    <style>
        .field-validation-error{
            color:red;
        } .local label {
            border: 1px solid #eee;
            display: inline-block;
            width: 215px;
            padding: 6px;
            cursor: pointer;
        }

        .adicional label {
            border: 1px solid #eee;
            display: inline-block;
            width: 175px;
            padding: 6px;
            cursor: pointer;
        }
            .adicional label:hover, .cardapio label:hover, .local label:hover {
                background-color: aliceblue;
            }

        .cardapio label {
            border: 1px solid #eee;
            display: inline-block;
            width: 215px;
            padding: 6px;
            cursor: pointer;
        }
        #loader {
            z-index: 9999;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #333;
            background-color: rgba(51,51,51,0.8)8);
            display: none;
            opacity: 0.8;
        }

            #loader .icon {
                width: 32px;
                height: 32px;
                background-image: url(/Images/bx_loader.gif);
                top: 50%;
                left: 50%;
                position: absolute;
                margin-left: -16px;
                margin-top: -16px;
            }

            #loader .msg {
                color: white;
                font-family: Tahoma;
                font-size: 16px;
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                margin-top: 20px;
                z-index: 9999;
            }

    </style>
</head>

<body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                
                <a class="navbar-brand" href="~/">Sentinela Eventos</a>
            </div>
            
        </div>
    </div>

    <div class="container theme-showcase" role="main">

        
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Monte seu evento!</h1>
        <p>Volumus accusam fabellas at sit. Quot facer virtute cum ut. Ea duo wisi pertinax iudicabit. Sea cibo fierent adipisci no, vix no nihil possim imperdiet.</p>
        <p><a href="#local-evento" class="btn btn-primary btn-lg" role="button">Começe agora »</a></p>
    </div>


    @using (Html.BeginForm())
    {
        <div class="page-header">
            <h1 id="local-evento">Espaços</h1>
        </div>
        <div class="local">
            @foreach (Sentinela.Models.Local item in ViewBag.Local)
            {
                <div style="display: inline-block; width: 215px; margin-right: 6px; margin-bottom:20px">
                    <label>
                        @Html.RadioButtonFor(m => m.LocalId, item.LocalId) @item.Nome

                    </label>
                    <div style="width: 215px; display: inline-block; ">
                        <button data-title="@item.Nome" data-id="@item.LocalId" type="button" class="btn-block detalhes-local btn btn-xs btn-default" style="display: block; margin: 0 auto; font-weight: normal">Detalhes</button>
                    </div>
                </div>
            }
            @Html.ValidationMessageFor(model => model.LocalId)
        </div>

        <div class="page-header">
            <h1>Cardápio</h1>
        </div>
            <div class="cardapio">
                @foreach (Sentinela.Models.Cardapio item in ViewBag.Cardapios)
                {
                    <div style="display: inline-block; width: 215px; margin-right: 6px; margin-bottom:20px">
                        <label>
                            @Html.RadioButtonFor(m => m.CardapioId, item.CardapioId) @item.Nome

                        </label>
                        <div style="width: 215px; display: inline-block; ">
                            <button data-title="@item.Nome" data-id="@item.CardapioId" type="button" class="btn-block detalhes-cardapio btn btn-xs btn-default" style="display: block; margin: 0 auto; font-weight: normal">Detalhes</button>
                        </div>
                    </div>
                }
                @Html.ValidationMessageFor(model => model.CardapioId)
        </div>
        
        <div class="page-header">
            <h1>Adicionais</h1>
        </div>
        <div class="adicional">
            @foreach (Sentinela.Models.Adicional item in ViewBag.Adicionais)
            {
                <label class="poph" data-trigger="hover" data-title="Descrição" data-toggle="popover" data-placement="top" data-container="body" data-content="@item.Descricao">
                    <input type="checkbox" value="@item.AdicionalId" name="Adicionais" />  @item.Nome
                </label>
            }
        </div>
        <div class="page-header">
            <h1>Dados Gerais do Evento  </h1>
        </div>
        <div>
            <div class="form-group">
                @Html.LabelFor(m => m.DataEvento, "Data Pretendida")
                @Html.TextBoxFor(m => m.DataEvento, new { @class = "data" })
                @Html.ValidationMessageFor(model => model.DataEvento)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TipoEventoId, "Tipo de Evento")
                @Html.DropDownList("TipoEventoId", "[Selecione]")
                @Html.ValidationMessageFor(model => model.TipoEventoId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Convidados, "Número de convidados adultos")
                @Html.TextBoxFor(m => m.Convidados, new { @class = "integer" })
                @Html.ValidationMessageFor(model => model.Convidados)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Criancas, "Número de convidados crianças")
                @Html.TextBoxFor(m => m.Criancas, new { @class = "integer" })
                @Html.ValidationMessageFor(model => model.Criancas)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Periodo, "Duração do evento")
                @Html.EditorFor(m => m.Periodo)
                @Html.ValidationMessageFor(model => model.Periodo)
            </div>
        </div>
        

        


        <div class="page-header">
            <h1>Dados para contato</h1>
            
        </div>
        <div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cliente.Pessoa.Nome)
                @Html.EditorFor(m => m.Cliente.Pessoa.Nome, new { @class = "form-control", @placeholder = "Digite seu nome" })
                @Html.ValidationMessageFor(model => model.Cliente.Pessoa.Nome)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cliente.Pessoa.Email)
                @Html.EditorFor(m => m.Cliente.Pessoa.Email, new { @class = "form-control", @type = "email", @placeholder = "Digite seu e-mail" })
                @Html.ValidationMessageFor(model => model.Cliente.Pessoa.Email)
            </div>
            <div class="form-group">
                <label for="Cliente_Logradouro" style="display: block;">Logradouro</label>
                @Html.EditorFor(m => m.Cliente.Logradouro, new { @class = "form-control", @placeholder = "Digite o nome da rua" })
                @Html.TextBoxFor(m => m.Cliente.Numero, new { @class = "form-control integer" })
                @Html.ValidationMessageFor(model => model.Cliente.Logradouro)
                @Html.ValidationMessageFor(model => model.Cliente.Numero)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cliente.Celular)
                @Html.EditorFor(m => m.Cliente.Celular, new { @class = "form-control", @placeholder = "Digite seu celular" })
                @Html.ValidationMessageFor(model => model.Cliente.Celular)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cliente.Telefone)
                @Html.EditorFor(m => m.Cliente.Telefone, new { @class = "form-control",  @placeholder = "Digite seu telefone fixo" })
                @Html.ValidationMessageFor(model => model.Cliente.Telefone)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Cliente.Cidade.Estado)
                @Html.DropDownList("EstadoId", "[Selecione]")
                @Html.ValidationMessageFor(model => model.Cliente.Cidade.EstadoId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cliente.CidadeId, "Cidade")
                @Html.DropDownListFor(m => m.Cliente.CidadeId, new List<SelectListItem>())
                @Html.ValidationMessageFor(model => model.Cliente.CidadeId)
            </div>

        </div>
        
        
        <div class="page-header" style="max-width: 400px; margin: 0 auto 10px;">
            <button type="submit" class="btn btn-success btn-lg btn-block">Enviar</button>
        </div>
        }
        
        
        <footer>
            <p>© Company 2014</p>
        </footer>

    </div> <!-- /container -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="loader"><div class="icon"></div><div class="msg">Carregando...</div></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/jquery.fancybox-buttons.js"></script>
    <script src="~/Scripts/jquery.fancybox-thumbs.js"></script>
    <script src="~/Scripts/jqueryui/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Scripts/meiomask.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
                      @*alert(@Html.Raw(Json.Encode(TempData["message"])));*@

                bootbox.alert(@Html.Raw(Json.Encode(TempData["message"])));


        </script>
    }
    <script>
        function hideLoader() {
            $('#loader').fadeOut('fast');
        }

        function showLoader(msg) {
            if (typeof msg == 'undefined')
                msg = 'Carregando...';
            $("#loader>.msg").html(msg);
            $('#loader').fadeIn('fast');
        }
        $(document).ready(function () {
            $(".data").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            })
                .attr("data-val-date", "Data inválida")
                .attr('readonly', 'true')
                .css('background', 'white')
                .css('cursor', 'text')
                .each(function () {
                    $(this).val($(this).val().split(' ')[0]);
                });

            $('.integer').setMask('int');
            $('.decimal').setMask('decimal');
            $('input[type=tel]').setMask('phone');
            


            $('.detalhes-local').click(function () {
                $(".modal-title").text("Local: " + $(this).attr("data-title"));

                showLoader();
                $.get(
                    "/Home/DetalhesLocal",
                    { id: $(this).attr("data-id") },
                    function (data) {
                        $(".modal-body").html(data);
                        $('#myModal').modal('show');
                    },
                    "html")
                .fail(function () {
                    alert('Erro de conexão');
                })
                .always(function () {
                    hideLoader();
                });



            });
            $('.detalhes-cardapio').click(function () {
                $(".modal-title").text("Cardápio: "+$(this).attr("data-title"));
                
                showLoader();
                $.get(
                    "/Home/DetalhesCardapio",
                    { id: $(this).attr("data-id") },
                    function (data) {
                        $(".modal-body").html(data);
                        $('#myModal').modal('show');
                    },
                    "html")
                .fail(function () {
                    alert('Erro de conexão');
                })
                .always(function () {
                    hideLoader();
                });



            });



            $('.poph').popover();

            $('#EstadoId').change(function () {
                $.get('/Home/GetCidades', { estadoId: $(this).val() }, function (data) {
                    $("#CidadeId").html('');
                    $("#CidadeId").append($("<option></option>").val(null).html('[Selecione]'))
                    for (var i in data) {
                        $("#Cliente_CidadeId").append($("<option></option>").val(data[i].id).html(data[i].text))
                    }
                }, 'json');
            });

            $('.form-group').children('input,select').addClass('form-control');

            $('#Cliente_Numero').attr('placeholder', 'Número');

            $("#Cliente_Logradouro").css("display", "inline-block").css("width", "79%");

            $("#Cliente_Numero").css("display", "inline-block").css("width", "20%");
        });

    </script>


    
</body>
</html>