@model PagedList.IPagedList<Sentinela.Models.Orcamento>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2><br/>

<p>
    @Html.ActionLink("Novo", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Cliente.Logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Local.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DataOrcamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DataEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DataAlteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Situacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Convidados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TipoEvento.TipoEventoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Orcamentocol)
        </th>
        <th style="text-align: center;">Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOrcamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAlteracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Convidados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEvento.TipoEventoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orcamentocol)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.OrcamentoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.OrcamentoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.OrcamentoId })
        </td>
    </tr>
}

</table>

<br />

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

