@model PagedList.IPagedList<Sentinela.Models.Orcamento>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Orçamentos";
}

<h2>Orçamentos</h2><br/>

@Html.Raw(ViewBag.Filtro)

<table>
    <tr>
        <th>
            Código
        </th>
        <th>
            Cliente
        </th>
        <th>
            Local
        </th>
        <th>
            Cadastro
        </th>
        <th>
            Evento
        </th>
        
        <th>
            Tipo Evento
        </th>

        <th style="text-align: center;">Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.OrcamentoId
        </td>
        <td>
            <a href="/Cliente/Details/@item.Cliente.ClienteId">@item.Cliente.Pessoa.Nome</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Nome)
        </td>
        <td>
            @item.DataOrcamento.ToShortDateString()
        </td>
        <td>
            @item.DataEvento.ToShortDateString()
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TipoEvento.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.OrcamentoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.OrcamentoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.OrcamentoId })
        </td>
    </tr>
}

</table>

<br />

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

