@model Sentinela.Models.Evento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div style="display: inline-block; width: 100%;">
    <fieldset class="col-lg-6">
        <legend style="display: block!important">Evento @Html.ActionLink("Editar", "Edit", new { id = Model.EventoId })</legend>

        <div class="display-label">
            Código
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EventoId)
            
        </div>

        <div class="display-label">
            Local
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Local.Nome)
        </div>

        <div class="display-label">
            Data Cadastro
        </div>
        <div class="display-field">
            @Model.DataCadastro.ToShortDateString()
        </div>

        <div class="display-label">
            Data Pretendida
        </div>
        <div class="display-field">
            @Model.DataEvento.ToShortDateString()
        </div>

        <div class="display-label">
            Data Alteração
        </div>
        <div class="display-field">
            @Model.DataAlteracao.ToShortDateString()
        </div>

        <div class="display-label">
            Situação
        </div>
        <div class="display-field">
            @Enum.GetName(typeof(Sentinela.Models.Enums.SituacaoOrcamento), Convert.ToInt32(Model.Situacao))
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Convidados)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Convidados)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Criancas)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Criancas)
        </div>
        <div class="display-label">
            Duração
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Periodo)
        </div>

        <div class="display-label">
            Tipo Evento
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TipoEvento.Nome)
        </div>

        <div class="display-label">
            Cardápio
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cardapio.Nome)
        </div>

        <div class="display-label">
            Local
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Local.Nome)
        </div>

        <div class="display-label">
            Adicionais
        </div>
        <div class="display-field">
            @String.Format("{0}", Model.Adicional.Any() ? String.Join(",", Model.Adicional.Select(adc => adc.Nome).ToArray()) : "Sem Adicionais")

        </div>

    </fieldset>


    <fieldset class="col-lg-6">
        <legend style="display: block!important">Cliente <a href="/Cliente/Edit/@Model.ClienteId">Editar</a></legend>

        <div class="display-label">
            Código 
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ClienteId)
            
        </div>

        <div class="display-label">
            Nome
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cliente.Pessoa.Nome)
        </div>

        <div class="display-label">
            Email
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cliente.Pessoa.Email)
        </div>


        <div class="display-label">
            Cidade
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cliente.Cidade.Nome)
        </div>

        <div class="display-label">
            Endereço
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cliente.Logradouro), @Model.Cliente.Numero
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.Cpf)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cliente.Cpf)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.Celular)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cliente.Celular)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Cliente.Telefone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Cliente.Telefone)
        </div>
    </fieldset>


</div>



<p>
    @Html.ActionLink("Voltar", "Index")
</p>
