@model Sentinela.Models.Adicional

@{
    ViewBag.Title = "Excluir Adicional";
}

    <h2>Excluir Adicional</h2>

    @if (Model.Orcamento.Any())
    {
        <h4>Não é possivel excluir este item pois está vinculado á um ou mais orçamentos.</h4>
        @Html.ActionLink("Voltar", "Index")
    }
    else
    {
        
    <h3>Tem certeza que deseja excluir este registro?</h3><br/><br/>
    <fieldset>
        <legend>Adicional</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Nome):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nome)
        </div><br/>
    </fieldset>
    @using (Html.BeginForm()) {
        <p>
            @Html.AntiForgeryToken()
            <input type="submit" value="Excluir" /> |
            @Html.ActionLink("Voltar", "Index")
        </p>
    }
    
}
